@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Montserrat, serif;
    background: #252B42;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.background-image {
    position: relative;
    width: 1440px;
    height: 889px;
    flex-shrink: 0;
    background: url(../images/dark-hero-3-cover.svg), lightgray 50% / cover no-repeat;
}

.filter {
    content: "";
    background: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
}

.navbar {
    display: flex;
    margin-left: 59px;
}

.navbar-brand {
    display: inline-flex;
    margin-left: 136px;
    margin-top: 17px;
    padding: 13px 42px 13px 0;
    align-items: center;
}

.navbar-brand__name {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.menu {
    margin-left: 41px;
    margin-top: 16px;
    display: inline-flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 240px;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 21px;
}

.menu-links__link {
    color: #FFF;
    text-align: center;
    text-decoration: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.menu-entry {
    display: flex;
    align-items: center;
    gap: 45px;
}

.menu-entry__login {
    color: #FFF;
    text-align: right;
    text-decoration: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}

.menu-reg {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: #23A6F0;
    text-decoration: none;
}

.menu-reg__text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}

.menu-reg__icon {
    width: 12px;
    height: 10px;
}

.welcome-container {
    display: flex;
    width: 1050px;
    padding: 112px 0;
    margin-left: 195px;
    margin-top: 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.welcome-info {
    display: flex;
    width: 599px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.welcome-info__h5 {
    color: #23A6F0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.welcome-info__h1{
    width: 542px;
    height: 240px;
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 137.931% */
    letter-spacing: 0.2px;
}

.welcome-info__h4 {
    width: 376px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}

.welcome-info__join-button {
    display: flex;
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #23A6F0;
    text-decoration: none;
}

.welcome-info__join-button-text {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.advices-layout {
    display: flex;
    padding: 0 195px 33px 195px;
    justify-content: center;
    align-items: center;
}

.advices-container {
    display: flex;
    width: 1050px;
    padding: 160px 0;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
}

.advices-container-info {
    display: flex;
    width: 691px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.advices-container-info__header {
    color: #23A6F0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.advices-container-info__title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.advices-container-info__text {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.advices-container-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.advices-container-item {
    width: 328px;
    display: flex;
    padding: 35px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #FFF;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}

.advices-container-item__icon-box {
    display: flex;
    padding: 22px 19px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #E74040;
}

.advices-container-item__feature-title {
    color: #252B42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.advices-container-item__sep-line {
    width: 50px;
    height: 2px;
    background: #E74040;
}

.advices-container-item__description {
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}